.card-header-swap {
    text-align: initial;
}

.card-price {
    font-size: 18px;
    color: #1c1a19;
    font-weight: 700;
}

.card-location {
    font-size: 12px;
    color: #777472;
}

.swap-msg-btn {
    margin-left: 12rem;
}

.swap-card {
    padding: 1.5rem !important;
    border-radius: 16px;
    box-shadow: none;
    background-color: #fff9f7;
}

.spacer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}