.root-pet-details {
    flex-grow: 1;
    min-height: 80vh;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.grid-container {
    background-color: #e3f9fb6e;
}

.img {
    width: 70%;
    margin: auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    display: inline-flex;
}

.like-btn {
    text-transform: capitalize;
}

.details-text {
    font-size: 0.9rem;
}

.clock {
    font-size: 1.7rem;
}

.specifications {
    width: 80%;
    text-align: initial;
    padding-left: 15%;
}

.ingredients-title {
    font-weight: 600;
}

.direction-img {
    margin-top: 2rem;
}

.directions-container {}

.wallet-btn {
    float: right;
    background-color: #c329c8;
    font-weight: 900;
    margin-top: -1.5rem;
}

.code-hash {
    width: 80%;
    padding: 1rem;
    word-break: break-word;
    text-align: initial;
}

.text-field {
    width: 80%;
}

.inline {
    display: inline;
    margin-top: 3rem;
}

.chef-container {
    text-align: center;
}

.chef-profile {
    display: inline-block;
}

.chef-profile img {
    width: 5rem;
    border-radius: 50%;
}

.mint-btn-container {
    float: right;
}

.price {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-weight: 500;
}

.price {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
}