.add-link-input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
}

.whiteLink-no-active {
    color: rgb(52 50 50 / 67%);
    font-size: 1rem;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.5;
    text-transform: capitalize;
    font-size: small;
}